.Table * {
    box-sizing: border-box;
}

/* xs devices */
@media only screen
and (max-width: 519px) {
    .Table {
        max-width: 519px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
    }

    .Table .main {
        flex: 1 1 auto;
        height: 90%;
        display: flex;
        flex-flow: row nowrap;
    }
    
    .Table .foot {
        border: solid;
        height: 10%;
    }
}

/* small devices */
@media only screen
and (min-width: 520px)
and (max-width: 759px) {
    .Table {
        min-width: 520px;
        max-width: 759px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
    }

    .Table .main {
        height: 90%;
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
    }
    
    .Table .foot {
        border: solid;
        height: 10%;
    }
}

/* large devices */
@media only screen
and (min-width: 760px)
and (max-width: 959px) {
    .Table {
        min-width: 760px;
        max-width: 959px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
    }

    .Table .main {
        height: 90%;
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
    }
    
    .Table .foot {
        border: solid;
        height: 10%;
    }
}

@media only screen
and (min-width: 960px) {
    .Table {
        min-width: 960px;
    }
}