.Table * {
    box-sizing: border-box;
}
.Table {
    width: inherit;
    height: inherit;
}

/* xs devices */
@media only screen
and (max-width: 519px) {
    .Table {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
    }

    .Table .main {
        flex: 1 1 auto;
        height: 93%;
        display: flex;
        flex-flow: row nowrap;
    }
    
    .Table .foot {
        border: solid;
        height: 7%;
    }
}

/* small devices */
@media only screen
and (min-width: 520px)
and (max-width: 759px) {
    .Table {
        display: flex;
        flex-flow: column nowrap;
    }
    
    .Table .main {
        height: calc(100% - 30px);
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
    }
    
    .Table .foot {
        border: solid;
        height: 30px;
    }
}

/* large devices */
@media only screen
and (min-width: 760px)
and (max-width: 959px) {
    .Table {
        display: flex;
        flex-flow: column nowrap;
    }

    .Table .main {
        height: calc(100% - 40px);
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
    }
    
    .Table .foot {
        border: solid;
        height: 40px;
    }
}

/* xl devices */
@media only screen
and (min-width: 960px) {
    .Table {
        display: flex;
        flex-flow: column nowrap;
    }
    .Table .main {
        height: calc(100% - 40px);
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
    }
    .Table .foot {
        border: solid;
        height: 40px;
    }
}